<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="Initials.Internal.Feed" value="https://pkgs.dev.azure.com/initials-org/_packaging/Initials.Internal.Feed/nuget/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>